
	<body>
		<h2>Quiz: El juego de las preguntas</h2>
		
		<h3>Creado por: <%= creador %> </h3>
		<div class="circulo">
			<img src="http://th00.deviantart.net/fs70/200H/i/2012/355/a/2/fry___futurama_drawing_by_creative_solute-d5oqc8u.png" alt="">
		</div>
		<a href="/quizes/question">Jugar otra vez</a>
	</body>

