<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="utf-8">
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page-wrap">
		<header class="main-header">
			<h2 class="main-title">Quiz<span class="borrar">: El juego de las preguntas</span></h2>
		</header>

		<nav class="main-nav">
			<ul class="menu">
				<li class="menu-item"><a href="/" class="menu-link">Inicio</a></li>
				<li class="menu-item"><a href="/quizes/question" class="menu-link">Preguntas</a></li>
			</ul>
		</nav>

		<section class="main-section">
			<%- body %>
		</section>

		<footer class="main-footer">
			<a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
		</footer>
	</div>
  </body>
</html>
