body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
	background: #7db9e8;
	background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 8%, #7db9e8 8%, #2989d8 38%, #207cca 49%, #1e5799 99%, #1e5799 99%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(8%,#7db9e8), color-stop(8%,#7db9e8), color-stop(38%,#2989d8), color-stop(49%,#207cca), color-stop(99%,#1e5799), color-stop(99%,#1e5799));
	background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 8%,#7db9e8 8%,#2989d8 38%,#207cca 49%,#1e5799 99%,#1e5799 99%);
	background: -o-radial-gradient(center, ellipse cover,  #7db9e8 8%,#7db9e8 8%,#2989d8 38%,#207cca 49%,#1e5799 99%,#1e5799 99%);
	background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 8%,#7db9e8 8%,#2989d8 38%,#207cca 49%,#1e5799 99%,#1e5799 99%);
	background: radial-gradient(ellipse at center,  #7db9e8 8%,#7db9e8 8%,#2989d8 38%,#207cca 49%,#1e5799 99%,#1e5799 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );

}

	.page-wrap {
	}
		
		.main-header, .main-footer {
			height: 3rem;
			padding: 8px;
			border: 3px double #3b679e;
			background-color: black;
			overflow: hidden;
		}

			.main-title {
				font-size: 2rem;
				color: white;
				text-align: center;
				line-height: 0px;
			}
		.main-nav {
			margin-top: 8px;
			border-bottom: 3px double #3b679e;
			background-color: black;
		}
		@media screen and (min-width: 600px) {
			.main-nav {
				width: 160px;
				position: absolute;
				height: calc(100vh - 82px);
				border-right: 3px double #3b679e;
			}
		}
			.menu {
				list-style: none;
				margin: 0 auto;
				padding: 0;
			}
				.menu-item {
					text-align: center;
					display: inline-block;
					width: 100%;
				}
				@media screen and (min-width: 600px) {
					.menu-item {
						display: block;
						padding-bottom: 8px;
						border-bottom: 3px double #3b679e;
						text-align: center;
					}
				}
					.menu-link {
						color: white;
						text-decoration: none;
						font-size: 1.3rem;
					}
					.menu-link:hover {
						color: yellow;
						text-shadow: 0 0 3.2px yellow,
									 0 0 3.2px yellow;
					}
		.main-section {
				text-align: center;
		}
		.main-footer {
			position: absolute;
			bottom: 0;
			width: calc(100% - 24px);
		}
			.social-icon {
				width: 48px;
				display: inline-block;
				position: relative;
				bottom: 50px;
				margin-top: 0;
				margin-left: calc(100% - 64px);
			}
			.social-icon:hover {
				-webkit-filter: blur(2px);
          				filter: blur(2px);
			}
			.main-footer > p:first-child {
				width: 35%;
				display: inline-block;
				text-align: right;
			}

a {
  color: white;
  text-shadow: 0 0 3.2px #00B7FF,
			   0 0 3.2px #00B7FF;
}
a:hover {
	  text-shadow: none;
}

.borrar {
	font-size: 0;
}
@media screen and (min-width: 480px) {
	.borrar {font-size: 1.5rem;}
}

.circulo {
	width: 150px;
	height: 150px;
	border: 3px double blue;
	border-radius: 100%;
	margin: 0 auto 12px auto;
	overflow: hidden;
}
	.circulo > img {
		position: relative;
		right: 7px;
		bottom: 7px;
	}